---
import Layout from '../layouts/Layout.astro';
import HeaderSection from '../components/HeaderSection.astro'
import AboutMeSection from '../components/AboutMeSection.astro'
import SkillsSection from '../components/SkillsSection.astro'
import EducationSection from '../components/EducationSection.astro'
import ExperienceSection from '../components/ExperienceSection.astro'
import ContactSection from '../components/ContactSection.astro'

---

<Layout title="Klaas Post • Resume">
	<main>
		    <!-- Header Section -->
			<HeaderSection />

			<!-- About Me Section -->
			<AboutMeSection />
		
			<!-- Skills Section -->
			<SkillsSection />
		
			<!-- Education Section -->
			<EducationSection />
		
			<!-- Experience Section -->
			<ExperienceSection />
		
			<!-- Contact Information Section -->
			<ContactSection />
	</main>
</Layout>

<style>
	main {
		max-width: 800px;
		margin: 0 auto;
		padding: 20px;
		font-family: Arial, sans-serif;
	}
</style>
