---

---

<section>
    <h3>ABOUT ME</h3>
    <hr>
    <p>
        Hello! Nice to meet you, name is Klaas Post. I'm 22 years old and live in a town called Urk.
        I recently graduated from Windesheim. 
        I'm currently looking for my next challenge in the software engineering field.
    </p>
</section> 