---

---

<section>
    <h3>ABOUT ME</h3>
    <hr>
    <p>
        Hello, pleased to make your acquaintance. My name is Klaas Post. 
        I am 22 years of age and reside in a town named Urk. 
        Recently, I completed my studies at Windesheim University. 
        At present, I am actively seeking opportunities in the field of software engineering for my next professional endeavor.
    </p>
</section> 