---

---

<section>
    <h3>ABOUT ME</h3>
    <hr>
    <p>
        As a recent graduate in Software Engineering from Windesheim, I'm passionate about crafting practical solutions and tackling challenging problems.
        My focus lies primarily in web development, where I've immersed myself in various JavaScript frameworks and the .NET environment. 
        I'm always eager to explore new technologies in this ever-evolving field and put them to the test.

        In addition to web development, I've delved into app development, particularly iOS applications. 
        Throughout my journey, I've embraced DevOps methodologies to ensure smooth and continuous delivery of value.
        
        I'm excited about the prospect of applying these skills in a professional setting and contributing to a forward-thinking company.
    </p>
</section> 