---

---

<section>
    <h3>CONTACT</h3>
    <hr>
    <p>
        Want to get into contact? You can reach me through either of these methods:
    </p>
    <ul>
        <li>
            Phone: <a href="tel:+31 0640940856">+31 0640940856</a>
        </li>
        <li>
            Email: <a href="mailto:klaas.post.business@outlook.com">klaas.post.business@outlook.com</a>
        </li>
    </ul>
</section>