<section>
    <h3>DISCLAIMER</h3>
    <hr>
    <p>
        This website is still under active development. 
        What you are seeing currently is not the final state of the site and everything is subject to change.
    </p>
</section>