---
const {school, location, course, start, end} = Astro.props as Education
const options = { year: 'numeric', month: 'short', } as Intl.DateTimeFormatOptions;
---

<section>
    <h4>{school} ({location})</h4>
    <p>{course}</p>
    <small>{start.toLocaleDateString("en-US", options)} - {end.toLocaleDateString("en-US", options)}</small>
</section>