---
const {school, location, course} = Astro.props as Education
---

<div class="education">
    <h4>{school}</h4>
    <p>{course}</p>
    <small>{location}</small>
</div>

<style scoped>
    .education{
        padding-left: 1rem;
        margin-bottom: 1.25rem;
        border-left: var(--color) var(--border-width) var(--border-style);
    }
</style>