---
const { title, place, type, start, end } = Astro.props as Experience;
const options = { year: 'numeric', month: 'short', } as Intl.DateTimeFormatOptions;
---

<section>
    <h4>{title}</h4>
    <p>{place} - {type}</p>
    <small>{start.toLocaleDateString("en-US", options)} - {end.toLocaleDateString("en-US", options)}</small>
</section>