---
const { title, place, type } = Astro.props as Experience;
---

<div class="experience">
    <h4>{title}</h4>
    <p>{place} • {type}</p>
</div>

<style scoped>
    .experience{
        padding-left: 1rem;
        margin-bottom: 1.25rem;
        border-left: var(--color) var(--border-width) var(--border-style);
    }
</style>