---
const { name, progress } = Astro.props as Skill;
---

<div class="skill">
    <h4>{ name }</h4>
    <progress value={progress} max="100"></progress>
</div>

<style scoped>
    .skill{
        margin-bottom: 1rem;
    }

    progress {
    display: inline-block;
    vertical-align: baseline;
    }

    progress {
    -webkit-appearance: none;
    -moz-appearance: none;

    appearance: none;
    width: 100%;
    height: 0.5rem;
    overflow: hidden;
    background-color: transparent;
    border-right: var(--color) var(--border-width) solid;
    border-left: var(--color) var(--border-width) solid;
    border-top: 0;
    border-bottom: 0;
    }

    progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, var(--color) 50%, transparent 0);
    background-color: transparent;
    background-size: 3px; /* Adjust the size of the dashes */
    }

    progress::-moz-progress-bar {
    background-image: linear-gradient(to right, var(--color) 50%, transparent 0);
    background-color: transparent;
    background-size: 3px; /* Adjust the size of the dashes */
    }

</style>