---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Klaas Post Resume, Klaas Post Portfolio, Klaas Post Github, Klaas Post CV" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
	:root {
		--background-color: #13151a;
		--color: #e5ffa7;
		--border-style: dashed;
		--border-width: 2px;
		--border-color: var(--color);
		--font-family: 
			Monaco,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	html {
		font-family: var(--font-family);
		color: var(--color);
		background: var(--background-color);
		background-size: 224px;
		justify-content: center;
		display: flex;
		font-size: calc(15px + 0.390625vw);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0.25rem;
		margin-bottom: 0.25rem
	}

	p, small, strong, em {
		margin-top: 0.2rem;
		margin-bottom: 0.2rem;
	}

	a {
		color: var(--color)
	}

	a:hover {
		text-shadow: 0 0 10px #e5ffa79c;
	}

	li {
		list-style-type: '> ';
	}


	body {
		max-width: 50rem;
		padding-bottom: 5rem;
	}

	hr {
		border-color: var(--color);
		border-style: var(--border-style);
		margin-bottom: 1rem;
	}

	section {
		margin-bottom: 2rem;
	}

	code {
		font-family: var(--font-family)
	}
</style>
